*,
*:after,
*:before {
  box-sizing: border-box;
}
$cv-width: 900px;
$tablet-width: $cv-width;
$phone-width: 500px;
$primary-background: #FF005D;
$foreground-color: #fffdee;
$heading-color: lighten(#707070, 10);
$h-padding: 3rem;
$h-padding-phone: 2rem;

@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}
@page {
  margin: 1cm 0;
}
/* All margins set to 2cm */
@page :first {
  margin: 0;
}

html {
  font-size: 12px;
  @include phone {
    font-size: 11px;
  }
}
@media print {
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .wrapper {
    background-color: unset !important;
  }
}

body {
  font-family: Raleway,serif;
  margin: 0;
  background: rgb(240,240,240);
  font-size: 1.3rem;
  @media print {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    background: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: .9;
  }
}

h1 {
  margin: .5rem auto;
}

.download-pdf {
  text-align: center;
  padding: 1rem;
  background-color: $primary-background;
  color: $foreground-color;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  @media print {
    display: none;
  }
}

.wrapper {
  margin: 3rem auto;
  max-width: $cv-width;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
  background-color: rgb(250,250,250);
  @include tablet {
    margin: auto;
  }
  @include tablet {
    margin-bottom: 2rem;
  }
}

.header {
  width: 100%;
  padding: 2rem $h-padding;
  background: $primary-background;
  display: inline-block;

  .text {
    max-width: 70%;
    color: $foreground-color;
    float: left;
    font-weight: 600;
    @include phone {
      float: unset;
      max-width: unset;
      text-align: center;
    }

    h1 {
      font-weight: 500;
      font-size: 4rem;
      margin: 0 auto;
      @include phone {
        margin: 2rem auto;
        font-size: 3.5rem;
      }
    }

    h2 {
      margin: .5rem auto 1rem;
      font-weight: 500;
      font-size: 2rem;
    }

    span {
      margin-left: .2rem;
      font-size: 1.3rem;
    }
  }

  .photo {
    float: right;

    img {
      border: 3px solid $foreground-color;
      margin: auto;
      width: 150px;
      height: 150px;
      display: block;
    }
    @include phone {
      margin: 2rem auto 0;
      float: unset;
    }
  }
}

.bio {
  color: $foreground-color;
  padding: 1rem $h-padding;
  @include phone {

    padding: 1rem $h-padding-phone;
  }
  width: 100%;
  margin: auto;
  background: darken($primary-background, 6);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;

  span {
    flex: 1 1 250px;
    max-width: 250px;
    margin: .5rem .5rem .5rem 0;
    @include phone {
      flex: 1 1 250px;
      max-width: unset;
    }
    @media print {
      flex: 1 1 200px;
      max-width: 200px;
    }
  }
}

.section-heading {
  padding: .5rem $h-padding 0;

  @include phone {
    padding: .5rem $h-padding-phone 0;
  }

  h1 {
    color: $heading-color;
    font-variant: small-caps;
    font-size: 3rem;
    @include phone {
  font-size: 2.5rem;
}

  }

  h2 {
    font-weight: bold;
    @include phone {
  font-size: 1.7rem;
}
  }
}

.expertise-tags span,
.programming-tags div {
  display: inline-block;
  color: $foreground-color;
  padding: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: bold;
  // font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: $heading-color;

  &:hover {
    opacity: .9;
  }
}

.programming-tags div {
  padding: 0;

  .lang,
  .time {
    font-family: 'Roboto Mono', monospace;
    float: left;
    padding: .5rem;
  }

  .time {
    color: lighten($foreground-color, 10);
    background-color: lighten($heading-color, 10);
    border-radius: 0 5px 5px 0;
    font-weight: bolder;
  }
}

.experience {
  padding-left: 0;
  padding-right: 0;

  h1 {
    padding-left: $h-padding;
    @include phone {

    padding-left: $h-padding-phone;
  }

  }
}

.education,
.interests {
  h2,
  h3,
  h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.interests {
  padding-bottom: $h-padding;
  @include phone {
  padding-bottom: $h-padding-phone;
  }
  @media print {
    padding-bottom: .5rem;
  }
}

.job {
  padding: 0 $h-padding 1rem;
  @include phone {
    padding: 0 $h-padding-phone 1rem;
  }

  h1 {
    padding-left: 0;
    font-size: 2rem;
    color: black;
    @include phone {
  font-size: 1.7rem;
}

  }

  h2 {
    font-size: 1.5rem;
    margin: .5rem auto;
  }

  .time {
    float: left;
    font-weight: bold;
    color: darken($primary-background, 6);
  }

  .location {
    float: right;
    font-weight: bold;
    color: darken($primary-background, 6);
  }

  .description {
    margin-top: .5rem;
    max-width: 80%;
    display: block;
    @include phone {
      max-width: 100%;
    }
  }

  a {
    font-weight: bold;
    color: $primary-background;
  }
}
